<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/F1_%28white%29.svg/2560px-F1_%28white%29.svg.png" alt="F1 Logo" style="width: 80px;">
      </ion-col>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>
    <h4 class="ion-text-center" style="font-weight: bold">{{Title}}</h4>
  </ion-label>
</ion-item>


<ion-content color="light">
  
  <!-- <ion-segment value="Events_Details">
    <ion-segment-button value="Events_Details">
      <ion-label>Events Details</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Results</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <ion-card>
    <ion-item>
      <ion-label>
        <ion-row style="font-weight: bold">
          <ion-col size="1">
            <p class="ion-text-center">Pos</p>
          </ion-col>
          <ion-col>
            <p>Driver</p>
          </ion-col>
          <ion-col size="3">
            <p class="ion-text-center">Time</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let event of EventDetails; let i = index">
          <ion-col size="1">
            <p class="ion-text-center">{{ i + 1 }}</p>
          </ion-col>
          <ion-col>
            <p>{{ event.strPlayer }}</p>
          </ion-col>
          <ion-col size="3">
            <p class="ion-text-end">{{ event.strDetail }}</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>