<ion-header>
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let event of events">
    <ion-img [src]="event.strThumb" slot="start"></ion-img>
    <ion-card-header *ngFor="let session of event.events">
      <ion-card-title>{{ session.strEvent }}</ion-card-title>
      <ion-card-subtitle>{{ session.dateEventLocal}} - {{ session.strTimeLocal}} (Local Date and Time)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ event.strTime }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>