<ion-header>
  <ion-toolbar>
    <ion-title>
      F1 Drivers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let driver of F1Driver" [routerLink]="['/drivers', driver.strPlayer]">
      <ion-avatar slot="start">
        <img [src]="driver.strThumb" alt="Driver Avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ driver.strPlayer }}</h2>
        <p>{{ driver.strNationality }}</p>
        <p>{{ driver.strTeam }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>